*{
    background-color: aqua;
}

p{
    font-size: 30px;
}

p.second{
    color: red;
}

p.third{
    color: #05ff0d;
}

p.forth{
    color: rgb(145, 39, 133)
}

p.fifth{
    color: rgba(28, 22, 220, 0.7);
}

span.brown{
    color: brown;
    display: inline-block;
    width: 150px;
}

span.blue{
    color: blue;
    width: 150px;
}
