{% extends 'base.html' %}

{% block title %} Hello {% endblock %}

{% block content %}

    <h1>
        this is hello page
    </h1>
    <br>
    {# this is comment #}
    {% if first_name == 'Amirreza' %}
        <h4> sorry ... </h4>

    {% else %}
        <h4> yeepp ...</h4>

    {% endif %}

    <h3> hello {{ first_name | upper }} {{ last_name | lower}} ...</h3>

    {% with value=5 %}
        <h3>{{ value | add:"2" }}</h3>
    {% endwith %}

    {% with name='ali' %}
        <h3>{{ name | add:"2" }}</h3>
    {% endwith %}

    {% with name='djanog' %}
        <h3>{{ name | capfirst }}</h3>
    {% endwith %}

{% endblock %}
