div{
    border: 5px solid rgb(102, 167, 6);
}

img.one{
    float: right;
    width: 300px;
    height: 250px;
}

p.clearfix{
    clear: both;
}

div.clearfix::after{
    clear: both;
    display: table;
    content: "";
}

/* 
p.one{
    clear: right;
} */

img.two{
    float: right;
    width: 300px;
    height: 250px;
}